@font-face {
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: 
		url("../fonts/roboto-regular.woff2") format("woff2"),
		url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
  font-display: swap;
  src: 
    url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: bold;
	font-style: normal;
  font-display: swap;
  src: 
		url("../fonts/roboto-bold.woff2") format("woff2"),
		url("../fonts/roboto-bold.woff") format("woff");
}

@font-face {
	font-family: "Work Sans";
	font-weight: bold;
	font-style: normal;
  font-display: swap;
  src: 
		url("../fonts/worksans-bold.woff2") format("woff2"),
		url("../fonts/worksans-bold.woff") format("woff");
}
