.converter {
  background-color: $white;
  margin-bottom: 100px;
}

.converter__wrapper {
  padding-top: 47px;
}

.converter__title {
  font-family: "Roboto bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 41px;
  line-height: 140%;
  color: $dark-blue;

  margin-bottom: 50px;
  max-width: 480px;
}
