.header {
  background-color: $light-gray;
}

.header__wrapper {
  padding-top: 35px;
  padding-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  margin-left: 65px;
  margin-right: auto;
}

.header__login {
  margin-right: -5px;
}

.header__login-link {
  font-size: 16px;
  line-height: 19px;
  color: $dark-blue;

  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -30px;
    width: 20px;
    height: 22px;
    background-image: url("../img/login.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
